@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body { 
  background-color: #ccc; 
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.95em;
}

#container{
  width: 1000px;
  margin: 0 auto; /* centers content */
  background-color: #fff;
  padding: 50px 100px; /* adds 50px to top and bottom, 100px to left and right */
}

h1 {
  margin-top: 0;
  padding-top: 15px;
}

h2, h3, h4, h5 {
  font-weight: 400; /* removes bold weight */
}

h2 {
  border-bottom: 1px solid #999;
  margin: 0;
  display: inline; /* turns h2 into an inline element, meaning it lets other elements exist on the same line, and is as wide as its content */
}


.name, .section-header, .skill {
  text-transform: uppercase; /* turns all text into uppercase */
}

.name, .section-header, .skill {
  letter-spacing: 2px; /* sets distance between individual letters */
}

.coloured {
  color: #55cbbb;
}

.page-section {
  margin-top: 50px;
}

#main-image {
  width: 125px; /* sets width, height will adjust automatically */
  vertical-align: middle; /* positions the text around it to be centered to the image */
  margin-right: 40px;

}

#page-header > div { 
  display: inline-block; /* makes it so the header information can be on the same line as the image */
}

.section-header, .section-body {
  vertical-align: top; /* aligns the top of the section header with the body */
  display: inline-block; /* lets the header and body exist on the same line */
}

.section-header {
  font-size: 0.65em;
  margin-right: 40px;
  width: 125px;
  font-weight: 600; /* makes font thinner and less bold */
}

.section-header h2 {
  font-weight: 600;
}

.section-body {
  width: 795px;
}

.section-item {
  margin-bottom: 35px;
}

.section-item:last-child { 
  margin-bottom: 0; /* removes the margin from the last .section-item element */
}

.half-page {
  width: 475px;
  display: inline-block;
}

.half-page:first-child {
  margin-right: 50px; /* adds a right margin to the half-page element on the left hand side */
}

.half-page .section-body {
  width: 305px;
}

.name {
  font-size: 1.75em;
  margin-bottom: 5px;
}

.career {
  font-size: 1em;
  color: #aaa;
  margin-top: 5px;
}

.position, .timeline {
  display: inline-block;
}

.position {
  width: 80%;
  margin-bottom: 5px;
  margin-top: 0px;
}

.date {
  color: #777;
  font-size: 1.00em;
  margin: 0;
}

.timeline {
  width: 19%;
  text-align: right; /* aligns all text to the right instead of the left */
}

.company { 
  font-style: italic; /* adds italics */
  font-size: 1.05em;
  margin-top: 3px;
  margin-bottom: 10px;
}

.skill {
  color: #0000FF;
  font-size: 0.9em;
  margin-top: 0;
}

.progress-bar {
  height: 11px;
  border: thin solid #999;
  border-top: none; /* removes border from the top edge */
  padding: 2px;
  padding-top: 0; /* removes padding from the top edge */

}

.progress-bar .progress {
  background-color: #55cbbb;
  height: 100%; /* makes it fill the height of its container */
  width: 10%; /* makes it 50% the width of its container */
}

.rapping {
    background-color: #808080;
    height: 100%;
    width: 20%;
}

.twerking {
    background-color: #808080;
    height: 100%;
    width: 15%;
}



.working {
    background-color: #808080;
    height: 100%;
    width: 5%;
}

.technical {
  font-weight: 200;
  font-size: 1em;
  
}

.bold {
  font-weight: 600;
}

    
/* EXAMPLES OF HOW TO SET SPECIFIC WIDTHS 
.javascript {
  width: 80%;
}

.ruby {
  width: 90%;
}

.french {
  width: 100%;
}
*/
